
<div class="colo">

<div class="colore">
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
     
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="https://github.com/bermeo2000" class="nav-link px-2 link-secondary">Github</a></li>
        <li><a href="https://www.youtube.com/" class="nav-link px-2 link-dark">Youtube</a></li>
        <li><a href="https://github.com/bermeo2000/Practica" class="nav-link px-2 link-dark">Curriculumm</a></li>
        <li><a href="https://getbootstrap.com/" class="nav-link px-2 link-dark">Botstrap</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" style="">
          <li><a class="dropdown-item" href="#">Nuevo Proyecto</a></li>
          <li><a class="dropdown-item" href="#">Ajustes</a></li>
          <li><a class="dropdown-item" href="#">Perfil</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Salir</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
</div>


<div class="color">
<div class="container  ">
  <div class="row " *ngIf="isState">
          <div class="col-12 text-center">
              <p class="h2"> Formularios Reactivos </p>
          </div>

            <div class="col-12 margen-in d-flex justify-content-center" >
                
                  <form class="row g-3 needs-validation" [formGroup]="form" >

                      <div class="col-md-3">
                        <label  class="form-label">Nombre</label>
                        <div class="input-group has-validation">
                          <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                        </svg>
                        </span>
                            <input type="text" class="form-control" formControlName="nombre" >
                          </div>
                            <div class="alert alert-danger" *ngIf="form.get('nombre')?.touched && form.get('nombre')?.errors?.['required']">
                              El campo es requerido!
                            </div>
                      </div>

                      <div class="col-md-3">
                          <label class="form-label">Apellido</label>
                          <div class="input-group has-validation">
                            <span class="input-group-text">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                          </svg>
                          </span>
                          <input type="text" class="form-control" formControlName="apellido" >   
                          </div>          
                          <div class="alert alert-danger" *ngIf="form.get('apellido')?.touched && form.get('apellido')?.errors?.['required']">
                            El campo es requerido!
                          </div>
                      </div>

                      <div class="col-md-3">
                          <label  class="form-label">Cedula</label>
                          <div class="input-group has-validation">
                            <span class="input-group-text">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-badge-fill" viewBox="0 0 16 16">
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm4.5 0a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5 2.755C12.146 12.825 10.623 12 8 12s-4.146.826-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
                              </svg>
                          </span>
                          <input type="text" class="form-control" formControlName="telefono" >
                          </div>
                          <div class="alert alert-danger" *ngIf="form.get('cedula')?.touched && form.get('cedula')?.errors?.['required']">
                            El campo es requerido!
                          </div>
                      </div>

                      <div class="col-md-3">
                        <label  class="form-label">telefono</label>
                        <div class="input-group has-validation">
                          <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                              <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                              <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                        </span>
                        <input type="text" class="form-control" formControlName="cedula" >
                        </div>
                        <div class="alert alert-danger" *ngIf="form.get('telefono')?.touched && form.get('telefono')?.errors?.['required']">
                          El campo es requerido!
                        </div>
                    </div>

                    <div class="col-md-4">
                      <label  class="form-label">Direccion</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sign-no-parking" viewBox="0 0 16 16">
                          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16Zm5.29-3.416L9.63 8.923C10.5 8.523 11 7.66 11 6.586c0-1.482-.955-2.584-2.538-2.584H5.5v.79L3.416 2.71a7 7 0 0 1 9.874 9.874Zm-.706.707A7 7 0 0 1 2.71 3.417l2.79 2.79V12h1.283V9.164h1.674l4.127 4.127ZM8.726 8.019 6.777 6.07v-.966H8.27c.893 0 1.419.539 1.419 1.482 0 .769-.35 1.273-.963 1.433Zm-1.949-.534.59.59h-.59v-.59Z"/>
                        </svg>
                      </span>
                  
                      <input type="text" class="form-control" formControlName="direccion" >
                    </div>
                      <div class="alert alert-danger" *ngIf="form.get('direccion')?.touched && form.get('direccion')?.errors?.['required']">
                        El campo es requerido!
                      </div>
                  </div>


                      <div class="col-md-4">
                          <label for="validationCustomUsername" class="form-label">Correo</label>
                          <div class="input-group has-validation">
                              <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-at" viewBox="0 0 16 16">
                                  <path d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z"/>
                                </svg>
                              </span>
                             
                              <input type="text" class="form-control" formControlName="email" >                                
                          </div>
                          <div class="alert alert-danger" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']">
                            El campo es requerido!
                          </div>
                      </div>

                      <div class="col-md-4">
                          <label  class="form-label">Contraseña</label>
                          <div class="input-group has-validation">
                          <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-lock" viewBox="0 0 16 16">
                              <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5v-1a1.9 1.9 0 0 1 .01-.2 4.49 4.49 0 0 1 1.534-3.693C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm7 0a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-2Zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1Z"/>
                            </svg>
                          </span>
                          <input type="password" class="form-control" formControlName="password" >
                        </div>
                          <div class="alert alert-danger" *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']">
                            El campo es requerido!
                          </div>
                      </div>

                  

                      <div class="col-12">
                        <button class="btn btn-primary" (click)="storeGuardar()">Guardar</button>
                      </div>
                  </form>
            </div>

          <div class="col-12 text-center">
            <p class="h2"> Tabla de personas </p>
          </div>

          <div class="col-12">
              <table class="table table-success table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cedula</th>
                        <th>Email</th>
                        <th>Contraseña</th>
                        <th>Telefono</th>
                        <th>Direccion</th>
                        <th>Acciones</th>

                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of persona">
                        <td>{{i.id}}</td>
                        <td>{{i.nombre}}</td>
                        <td>{{i.apellido}}</td>
                        <td>{{i.cedula}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.password}}</td>
                        <td>{{i.telefono}}</td>
                        <td>{{i.direccion}}</td>
                        <td class="align-middle">
                          <a class="btn btn-primary" (click)="editEditar(i.id)"> Editar
                            <i class="bi bi-pencil-fill"></i>
  
                          </a>
                          <a class="btn btn-danger mx-1" (click)="deleteEliminar(i.id)">Eliminar
                            <i class="fas fa-solid fa-trash"></i>
                          </a>

                        </td>
                    </tr>
                </tbody>
              </table>
          </div>
  </div>   
</div>
</div>

<div class="colores">
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 Company, Inc</p>
  </footer>
</div>
</div>
</div>
