.color{
background-color: rgb(0, 0, 0);
color:  #ee940c;
}

.colore{
    background-color: rgb(182, 153, 153);
    color:  #ee940c;
    }
    .colores{
        background-color: rgb(182, 153, 153);
        color:  #ee940c;
        }
        .colo{
            background-color: rgb(0, 0, 0);
            color:  #ee940c;
            }
    